* {
  margin: 0;
  border: 0;
  font-family: sans-serif;
}

:focus {
  outline: 2px teal;
  background-color: antiquewhite;
}

@media (max-width: 600px) {
  .body {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container2 {
    top: 90%;
    left: 5%;
  }
}
#header-main nav {
  display: grid;
  grid-template-columns: 240px 3fr;
  grid-template-rows: auto;
  padding-bottom: 20px;
  border-bottom: solid;
  margin-bottom: 30px;
}
#header-main h1 {
  color: rgb(86, 15, 15);
  font-size: larger bold;
  width: 500;
}

#header-main nav ul {
  justify-self: end;
}

#header-main nav ul li {
  display: inline-block;
  list-style: none;
  justify-self: end;
  margin: 40px 0 40px 30px;
}
#header-main nav ul li a {
  color: rgb(22, 77, 77);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
#header-main nav :hover {
  opacity: 0.8;
}

#thumb-container {
  display: flex;
  flex-direction: center;
  justify-content: center;
  height: 100px;
  width: auto;
  position: relative;
}
#thumb-container img {
  border: solid grey;
  box-shadow: 0 0 5px;
  padding: 5px;
  z-index: 2;
  display: block;
  margin: 5px;
}

.large-image img {
  width: 600px;
  height: 600px;
  border: solid grey;
  box-shadow: 0 0 20px 2px;
  margin: 20px;
  cursor: pointer;
  display: block;
}
.large-image img :hover {
  z-index: 2;
  transform: scale(1.3);
  opacity: 1;
}

body {
  background-color: rgb(166, 171, 171);
  padding: 20px;
}

.btn:hover {
  filter: brightness(1.5);
}

#next {
  position: absolute;
  top: 30vw;
  right: 30vw;
  z-index: 100;
  background-color: grey;
  padding: 6px 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#prev {
  position: absolute;
  top: 30vw;
  left: 30vw;
  z-index: 100;
  background-color: grey;
  padding: 6px 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#next,
#prev {

  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.footer {
  display: flex;
  flex-direction: center;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 20px;
  border-top: solid;
  margin-top: 30px;
}

.large-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
